In [1]:
import pandas as pd

# Create a pandas Series object for the cumulative miles
cumulative_miles = pd.Series([55, 120, 180, 250, 310, 370, 430], name='Cumulative Miles')

# Compute the miles rode each day
daily_miles = cumulative_miles.diff().fillna(cumulative_miles.iloc[0])
daily_miles.name = 'Daily Miles'

# Display the data
df = pd.concat([cumulative_miles, daily_miles], axis=1)
df.index += 1  # Making the index start from 1 to represent 'Day 1'
df.index.name = 'Day'
display(df)

     Cumulative Miles  Daily Miles
Day
1                  55         55.0
2                 120         65.0
3                 180         60.0
4                 250         70.0
5                 310         60.0
6                 370         60.0
7                 430         60.0